#html {
  min-height: 100%;
  width: 100%;
  background-color: rgba(154, 128, 216, 0.5);
}
#kortti {
  background-color: rgba(238, 130, 238, 1);
  padding: 100px;
  margin-top: 25%;
}
img {
  max-width: 500px;
}
#body {
  display:flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background:linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(0, 209, 255, 1) 100%);
  font-size: 20px;
}
footer > a {
  color: white;
  font-size: 20px;
  text-shadow:
      0.07em 0 black,
      0 0.07em black,
      -0.07em 0 black,
      0 -0.07em black;
}
button {
  min-width: 200px;
  max-width: 1500px;
  max-height: 300px;
    display: inline-block;
    margin: 0.2rem;
    padding: 50px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    background:linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(0, 209, 255, 1) 100%);
}
#seuraava{
  margin: auto;
  width: 50%
}
#seuraava > button {
  width: 50%;
}